#header{
	
	position: relative;
    width: 1234px;
    height: 59px;
}

#Lnb {
    float: left;
    width: 170px;
}


#wrap .content {
    float: left;
     margin-left: 89px;
    width: 975px; 
}

.placeholder {
    margin-bottom: 20px;
}